.div_geral{
    display: flex; 
    flex-direction: column;
    align-items: center;

    background-color: white;
    border-radius: 12px;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.3);

    padding: 24px;
}

.div_carro{
    display: flex;
    border-radius: 12px;
    justify-content: space-between;
    padding: 24px;
    gap: 24px;
}


.infos_carro{}

.imagem_carro{
    width: 582px;
    height: 400px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #f4f4f4;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
}

.imagem_carro img{
    width: 500px;
}

.desc_carro{
    width: 582px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
}


.botoes{
    display: flex;
    gap: 10px;
    justify-content: end;
    width: 100%;
}

.btn_azul{
    background-color: rgb(17, 129, 228);
    height: 40px;
    border: none;
    padding: 0 20px;
    width: fit-content;
    color: rgb(250, 250, 250);

    font-size: 16px;
    font-weight: bold;

    border-radius: 9px;
    text-align: center;
    cursor: pointer;
    transition: .5s;
}


.btn_cinza{
    background-color: darkgray;
    height: 40px;
    border: none;
    padding: 0 20px;
    width: fit-content;
    color: rgb(250, 250, 250);

    font-size: 16px;
    font-weight: bold;

    border-radius: 9px;
    text-align: center;
    cursor: pointer;
    transition: .5s;
}



.status_reserva_barra{
    color: white;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    flex: 1;
    width: 1240px;
    padding: 5px 1.5rem 5px 1.5rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    /* background-color: seagreen;
    background-color: darkgoldenrod;
    background-color: darkred; */
}


.descricao_carro{
    padding: 0 20px;
    line-height: 25px;
}

.descricao_carro h3{
    font-size: 30px;
}

.descricao_carro ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.descricao_carro li{
    font-size: 18px;
}