/* ÍCONE NA BARRA */
.barra-icone-2{
    /* Div para conter os ícones da barra*/
    border-right: 1px solid #878787;
}

.icone-2{
    /* Imagem de ícone na barra */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    padding: 0 10px;
}


/* ESPAÇO DA BARRA RESERVADO À INFORMAÇÕES DA CIDADE */
.cidade-2{
    position: relative;
    background-color: transparent;
    display: flex;
    height: 70px;
    flex-grow: 1;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
}

.cidade_forms-2{
    /* Div cidade de retirada */
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    padding: 10px;
    gap: 5px;
    width: 50%;
}