body{
    margin: 0;
}

a{
    text-decoration: none;
}
/* ========================================================================= */

header{
    height: fit-content;
    padding: 10px 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #0A3D62;
}

.header-geral{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_DriveOn{
    width: 200px;
}

.header-icone{
    width: 50px;
    margin-right: 5px;
}

.header-fotousuario{
    width: 50px;
    aspect-ratio: 1 / 1;
    border: 2px #0A3D62 solid;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 58%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.header-texto{
    display: flex;
    align-items: center;
    color: white;
    font-family: 'TeXGyreAdventorRegular', sans-serif;
    letter-spacing: 1px;
}

/* ========================================================================= */

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer_div{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-self: center;
    border-top: 1px solid #ccc;
}

.footer_div div{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer span, footer p{
    color: #575756;
    margin: 0;
}

.redessociais{
    display: flex;
    gap: 0.7rem;
}

.redessociais .logo{
    width: 35px;
}