.tabela{
    width: 1350px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 25px;
    justify-content: center;
    padding: 20px 0;

    overflow: hidden;
    transition: transform 2s ease;
}

.celula{
    width: 400px;
    border-bottom: 2px solid #e5ebf0;
}

.estado{
    font-family: 'TT Hoves Variable', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-weight: 600;
    font-size: 25px;
    line-height: 50px;
    text-align: center;
    font-feature-settings: 'liga' 0;
    margin: 0;
    border-bottom: 1px solid #e5ebf0;
}

.agencias{
    display: flex;
    margin: 20px 0;
    gap: 20px;
    flex-direction: column;
}

.agencia_linha{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.agencia-nome{
    font-size: large;
    color: #107dcc;
    font-weight: 1000;
}

.agencia-nome:hover{
    text-decoration: underline;
    cursor: pointer;
}

.agencia-CEP{
    font-size: small;
}

.agencia-endereco{
    font-size: small;
}



