.corpo-perfil{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    padding: 2.5rem 0px;
    gap: 2.5rem;
}

/* ========================================================================================================== */
/* CLASSES GERAIS */

.quadro{
    height: auto;
    padding: 1.5rem;
    border: 2px solid #ccc;
    border-radius: 12px;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.3);
    background-color: white;
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
}

.titulo{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: xx-large;
}

.subtitulo{
    margin-top: 15px;
    color: #777171;
    font-size: x-large;
}

/* ========================================================================================================== */
/* CLASSES DOS DADOS DO USUÁRIO */

.div_imagem_usuario{
    width: 325px;
    height: 325px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ccc;
    border-radius: 12px;
    overflow: hidden;
}

.imagem_usuario{
    /* width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: contain; */

    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.div_informacoes_usuario{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    flex: auto;
}

.informacoes_usuario{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px 0;
}

.nome{
    font-weight: bold;
    font-size: xx-large;
}

.tabela{
    display: grid;
    row-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.info{
    width: 100%;
}

.info_titulo{
    font-size: 16px;
    font-weight: bold;
}

.info_conteudo{
    font-size: 16px;
}

/* ========================================================================================================== */
/* CLASSES DA ALTERAÇÃO DE DADOS */

button{
    background-color: #004aad;
    color: white;
    width: fit-content;
    padding: 0 20px;
    height: 40px;
    font-size: 15px;
    font-weight: 700;
    border: 0px;
    border-radius: 10px;
    cursor: pointer;
}

input{
    width: 60%;
}

.selecionarimagem{
    display: flex;
    justify-content: center;
    background-color: darkgray;
    width: 100%;
    padding: 2px;
    font-size: 17px;
    cursor: pointer;
}

/* ========================================================================================================== */
/* CLASSES DAS RESERVAS */

.reservas{
    border: 1px solid gray;
    border-radius: 12px;
    padding: 10px;
}

.reserva{
    display: flex;
    height: 100px;
    border-bottom: 1px solid gray;
    padding: 10px;
}

.imagem_carro{
    height: 100px;
    width: 150px;
    padding-right: 15px;
    border-right: 1px solid gray;
}
.imagem_carro img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.infos_reserva{
    display: flex;
    flex: 1;
    padding-left: 15px;
}

.infos_reserva h1{
    margin: 0;
    font-size: 20px;
    height: 25px;
}
.infos_reserva h2{
    margin: 0;
    font-size: 16px;
    font-weight: normal;
    height: 32px;
}

.infos{
    height: 75px; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-evenly;
}

.footer_link{
    text-decoration: none;
    color: black;
}
.footer_link  :hover{
    text-decoration: underline;

}