


.banner{
    position:relative;
    width: 100%;
    height: 60px; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;

}


/* Imagem para o fundo do banner */
.banner-img{
    float: left; /* Faz a imagem flutuar para a esquerda */
    width: 100%; 
    height: 40%;  
    object-fit: cover;
   
}

/* Div para conter o conteúdo do banner */
.banner-conteudo{

    /* position: relative; */
    z-index: 2; /*Prioridade de sobreposição (maior que a imagem)  */
    top: auto;    /* Posiciona no centro vertical   */
    left:0; /*Posiciona no centro horizontal  */
    transform: translate(-50% -50%); /*Corrige a posição centralizada */
    color: rgb(0, 0, 0);  /*   Cor do texto */
    font-size: 17px;  /*Tamanho da fonte */
    
} 