
/* carrossel */


.container-slide{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
}



.pagina-slide{
    display: inline-block;
    animation: anima 25s linear infinite;
}


.pagina-slide img{
    width: 400px;
}


@keyframes anima {
    0% {transform: translatex(0);
    }


    100%{
        transform: translateX(-50%);
    }

}

/* terminou carrossel */



/* primeira imagem - sobre a empresa */

.inicio-1 h2{
    margin-top: auto;
    font-size: 32px;  
    background-color: #103c60;
    color: rgb(247, 247, 248);
    /* text-align: left;  */
    text-align: center; 
    padding: 1.5%;
}


.container-1 {
    display: flex;
    align-items: center;
    float: right;
    justify-content: space-between;
}

  
.container-1 p{
    font-family:"lato";
    font-size: 25px;
    background-color: #c1c4c7;
    color: rgb(0, 0, 0);
    padding: 2%;
    margin-left: 8%;
    margin-right: 8%;
    width: 70%;
    border-radius: 10px;
    border-style: double;

}

.imagem-1{
    /* display: inline-block;
    margin-left: 10%;
    margin-right: 10%;
    padding: 2%;
    width: 100%; */
    margin-bottom: 10%;
    display: inline-block;
    margin-left: 10%;
    margin-right: 10%;
    padding: 2%;
    width: 80%;
} 

.imagem-1 img{
    margin-top: 30%;
    width: 100%;
}
/* terminou */












/* inicio da 2 imagem  - nossa missão */

.inicio-2 P{
  
    padding: 1.5%;
    font-size: 35px;  
    font-family: "lato";
    text-align: left;
    color: aliceblue;
    background-color: #103c60;

}

.container-2 {
    display: flex;
    align-items: center;
    float: right;
    justify-content: space-between;
    margin-bottom: 10%;
}

.container-2 p{
    font-family:"lato";
    font-size: 25px;
    background-color: #c1c4c7;
    color: rgb(0, 0, 0);
    padding: 2%;
    margin-left: 10%;
    margin-right: 8%;
    width:80%;
    border-radius: 10px;
    border-style: double;
} 

.imagem-2{
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
    width: 100%;
  
} 
/* terminou a imagem 2 */












/* começou a imagem 3  */

.inicio-3 p{
    font-size: 35px;
    font-family: "lato";
    text-align: left;
    color: aliceblue;
    background-color: #103c60;
    padding: 1.5%;
}


.titulosecao3 {
    font-size: 30px;
    /* margin-bottom: 5%; */
    font-family: "lato";
    background-color:#103c60;
    /* padding: 1.5%; */
    color: #ebf1f7;
}

.container-3 {
    display: flex;
    align-items: center;
    float: right;
    justify-content: space-between;
}
 
.container-3 p{
    font-family:"lato";
    font-size: 25px;
    background-color: #c1c4c7; 
    color: rgb(0, 0, 0);
    padding: 1.5%;
    margin-left: 10%;
    margin-right: 8%;
    width: 90%;
    border-radius: 10px;
    border-style: double;
}

.imagem-3{
    display: inline-block;
    margin-top: auto;
    margin-left: 6%;
    margin-right: 2%;
    /* padding: 5%; */
    width: 130%;


}  
/* terminou imagem 3  */











/* incio da imagem 4  */

.container-4 {
    display: flex;
    align-items: center;
    
   
}
 
.container-4 p{
    font-family:"lato";
    font-size: 25px;
    background-color: #c1c4c7;
    color: rgb(0, 0, 0);
    padding: 2%;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    border-radius: 10px;
    border-style: double;

}

.inicio-4 p{
    font-size: 35px;
    font-family: "lato";
    text-align: left;
    background-color:#103c60;
    padding: 1.5%;
    color: rgb(241, 247, 252);

}


.imagem-4{
    display: inline-block;
    margin-top: auto;
    margin-left: 8%;
    margin-right: 8%;
    padding: 1.5%; 
    width: 80%;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
    border-radius: 10px; 

}

/* terminou imagem 4 */




/* inicio dos estados*/ /* Estado de São Paulo */

.inicio-estados h2{
    font-size: 28px;
    margin-bottom: 5%;
    font-family: "lato";
    text-align: center;
    background-color:#103c60;
    padding: 2%;
    color: rgb(241, 247, 252);
}

.container-6{
    margin-left: 20%;
    margin-right: 20%;
    align-items: center;
}

.sp{
    display: flex;
    margin-top: 5%;
    padding: 5%;
    background-color: rgb(208, 240, 250);
    width: 90%;
}


.sp p{
    font-size: 25px;
    font-family: "lato";  
    text-align: center;
   
}

.sp img{
    margin-left: 10%;
    margin-right: 20%;
    width: 15%;
    height: 50%;
    box-shadow: 10px 10px rgba(0,0,0,0.2);
    align-items: center;
    margin-block: 9%;  
}




/* Estado do Rio de Janeiro */

.container-6{
    margin-left: 20%;
    margin-right: 20%;
    align-items: center;
}

.rj{
    display: flex;
    margin-top: 5%;
    padding: 5%;
    background-color: rgb(208, 240, 250);
    width: 90%;
}

.rj p{
    font-size: 25px;
    font-family: "lato";  
    text-align: center;
}

.rj img{
    margin-left: 10%;
    margin-right: 15%;
    width: 15%;
    height: 50%;
    box-shadow: 10px 10px rgba(0,0,0,0.2);
    align-items: center;
    margin-block: 9%;  
}



/* Estado de Recife*/
.container-6{
    margin-left: 20%;
    margin-right: 20%;
    align-items: center;
}

.rec{
    display: flex;
    margin-top: 5%;
    padding: 5%;
    background-color: rgb(208, 240, 250);
    width: 90%;
}

.rec p{
    font-size: 25px;
    font-family: "lato";  
    text-align: center;
}

.rec img{
    margin-left: 15%;
    margin-right: 20%;
    width: 15%;
    height: 50%;
    box-shadow: 10px 10px rgba(0,0,0,0.2);
    align-items: center;
    margin-block: 9%;  
}


/* Estado de Minas Gerais */

.container-6{
    margin-left: 20%;
    margin-right: 20%;
    align-items: center;
}

.mg{
    margin-top: 5%;
    padding: 5%;
    background-color: rgb(208, 240, 250);
    width: 90%;
    display: flex;
}

.mg p{
    font-size: 25px;
    font-family: "lato";  
    align-items: center;
}

.mg img{
    margin-left: 10%;
    margin-right: 18%;
    width: 14%;
    height: 50%;
    box-shadow: 10px 10px rgba(0,0,0,0.2);
    align-items: center;
    margin-block: 8%;
}
 


/* Estado da Bahia */

.container-6{
    margin-left: 20%;
    margin-right: 20%;
    align-items: center;
}


.ba{
    margin-top: 5%;
    padding: 5%;
    background-color: rgb(208, 240, 250);
    width: 90%;
    display: flex;
}


.ba p{
    font-size: 25px;
    font-family: "lato";  
    align-items: center;
}


.ba img{
    margin-left: 14%;
    margin-right: 20%;
    width: 17%;
    height: 50%;
    box-shadow: 10px 10px rgba(0,0,0,0.2);
    align-items: center;
    margin-block: 8%;
}



/* Estado de Santa Catarina */
.container-6{
    margin-left: 20%;
    margin-right: 20%;
    align-items: center;
}


.sc {
    margin-top: 5%;
    padding: 5%;
    background-color: rgb(208, 240, 250);
    width: 90%;
    display: flex;
}


.sc  p{
    font-size: 25px;
    font-family: "lato";  
    align-items: center;
}

.sc img{
    margin-left: 10%;
    margin-right: 12%;
    width: 17%;
    height: 50%;
    box-shadow: 10px 10px rgba(0,0,0,0.2);
    align-items: center;
    margin-block: 8%;
   
}

.footer_link{
    text-decoration: none;
    color: black;
}

.footer_link :hover{
    text-decoration: underline;
}


/* ============================================ */

/* TEMA ESCURO OU CLARO */

.trilho{
    width: 100px;
    height: 50px;
    background-color:#141c3d;
    border-radius: 150px;
    position: relative;
    cursor: pointer;
 }
 
 .trilho .indicador{
    width:50px ;
    height: 50px ;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    transform:scale(.9) ;
    position: absolute;
    left: 0;
    transition: .5s;
 }
 
 .trilho.dark{
    background-color:#0e1f48 ;
 }
 
 .trilho.dark .indicador{
    left: 50px;
    background-color: #2e59be;
 }
 
 
 body.dark{
    background-color:rgb(28, 28, 28);
    text-decoration: #c1c4c7;
 }



 .footer_link{
    text-decoration: none;
    color: black;
}

.footer_link :hover{
    text-decoration: underline;
}


