/* carrossel */


.container-slide{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
}


.pagina-slide{
    display: inline-block;
    animation: anima 30s linear infinite;
}


.pagina-slide img{
    width: 400px;
}


@keyframes anima {
    0% {transform: translatex(0);
    }

    100%{
        transform: translateX(-50%);
    }

}

/* terminou carrossel */
.apresentacao{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin: 5rem 0;
}

.quadro_texto{
    background-color: white;
    width: 550px;
    padding: 25px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.5);
    line-height: 25px;
}

.quadro_texto h1{
    text-align: center;
    color: #0a3d62;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}

.quadro_texto p{
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    color: #444;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


/* IMAGENS */
.imagem-1{
    width: 600px;
} 

.imagem-2{
    width: 700px;
    height: 500px;
    position: relative;
}

.imagem-2 img{
    width: 400px;
    height: 250px;
    border-radius: 15px;
    position: absolute;
}

.imagem-3{
    width: 600px;
}

.imagem-4{
    width: 600px;
}

.imagem-4 img{
    border-radius: 15px;
}








/* inicio dos estados*/ 

/* Estado de São Paulo */
.inicio-estados h2{
    font-size: 28px;
    margin-bottom: 5%;
    font-family: "lato";
    text-align: center;
    background-color:#103c60;
    padding: 2%;
    color: rgb(241, 247, 252);
}

.container-6{
    margin-left: 20%;
    margin-right: 20%;
    align-items: center;
}

.estado{
    display: flex;
    margin-top: 5%;
    padding: 5%;
    background-color: rgb(208, 240, 250);
    width: 90%;
}


.estado p{
    font-size: 25px;
    font-family: "lato";  
    text-align: center;
   
}

.estado img{
    margin-left: 10%;
    margin-right: 20%;
    width: 15%;
    height: 50%;
    box-shadow: 10px 10px rgba(0,0,0,0.2);
    align-items: center;
    margin-block: 9%;  
}




/* carrossel de avaliações */

.avaliacoes P{
    padding: 1.5%;
    font-size: 35px;  
    font-family: "lato";
    text-align: center;
    color: aliceblue;
    background-color: #103c60;
    margin-bottom: 2%;

}

.container-slide-1{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
    margin-bottom: 5%;
}


.pagina-slide-1{
    display: inline-block;
    animation: anima 50s linear infinite;
    margin-bottom: 15px;
}


.pagina-slide-1 img{
    width: 400px;
}


@keyframes anima {
    0% {transform: translatex(0);
    }


    100%{
        transform: translateX(-50%);
    }

}
