/* BARRA DE ALUGUEL NO BANNER */
.barra{
    display: flex;
    padding: 1.5rem;
    gap: 1.5rem;
    background-color: white;
    border-radius: 12px;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.3);
}

.barra_absolute{
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.barra-titulo{
    text-align: center;
    width: 265px;
    height: 20px;
    font-weight: bold;
    border-bottom: 1px solid #e5e7eb;
}

/* ÍCONE NA BARRA */
/* Div para conter os ícones da barra*/
.barra-icone{
    border-right: 1px solid #e5e7eb;
}

/* Imagem de ícone na barra */
.icone{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    padding: 0 10px;
}



/* ESPAÇO DA BARRA RESERVADO À INFORMAÇÕES DA CIDADE */
.cidade{
    background-color: transparent;
    display: flex;
    /* height: 70px; */
    border: 1px solid #e5e7eb;
    border-radius: 10px;
}

/* Div de escolha cidade */
.cidade_forms{
    display: flex;
    width: 265px;
    justify-content: space-evenly;
}

.div_estado{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70px;
}

.div_agencia{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 175px;
}

/* label{ font-weight: bold; } */

.barra select{
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid lightgray;
    background-color: white;
    color: #333;
}

.barra input[type=text]{
    text-align: center;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid lightgray;
    background-color: white;
    color: #333;
}

.local-diferente{
    /* Div devolver em local diferente */
    width: 265px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-image: none;
    --tw-text-opacity: 1;
}

.local-diferente span{
    background: #d5d4d4;
    color: #13100d;
    padding: 10px;
    border-radius: 12px;
}



/* ESPAÇO DA BARRA RESERVADO ÀS INFORMAÇÕES DAS DATAS E HORAS */
.data-hora{
    background-color: transparent;
    display: flex;
    /* height: 70px; */
    border: 1px solid #e5e7eb;
    border-radius: 10px;
}


.data_forms{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70px;
    padding: 0 5px;
    width: 125px;

    border-right: 1px solid #e5e7eb;
}

.hora_forms{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70px;
    padding: 0 5px;
}

/* Estilização do formulário da barra */
.barra input[type='date'], .barra input[type='time']{
    padding: 10px 0;
    font-size: 16px;
    border: none;
}

.barra button {
    background-color: #004aad;
    color: white;
    height: 70px;
    width: 140px;
    font-size: 24px;
    font-weight: 700; 
    border: 0px;
    border-radius: 10px;
    cursor: pointer;
    align-self: center;
}