/* Tema escuro ou claro */

.trilho{
    width: 100px;
    height: 50px;
    background-color: #141c3d;
    border-radius: 150px;
    position: relative;
    cursor: pointer;

}

.trilho .indicador{
    width: 50px;
    height: 50px;
    background-color: rgb(255,255,255);
    border-radius: 50%;
    transform: scale(.9);
    position: absolute;
    left: 0;
    transition: .5s;

}

.trilho.dark{
    background-color: #0e1f48;

}

.trilho.dark .indicador{
    left: 50px;
    background-color: #2e59be;

}
